@charset "utf-8";

*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
body{
   background: linear-gradient(250deg , rgba(0, 0, 0, 0.842), black);
   color: white;
}
header{
   position: relative;
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px 0px;
}
header p{
   text-transform: uppercase;
   font-size: 1.5em;
}
.container-sobre{
   flex-direction: column;
   display: flex;
   color: black;
   padding: 20px;
   background: linear-gradient(to bottom, rgb(136, 135, 135), rgb(80, 79, 79));
   height: auto;
   background-image: url(../assets/image/bg.webp);
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
}
.container-sobre .container-principal{
   padding: 20px;
   width: 90VW;
   margin: auto;
}
.container-sobre .title{
   width: 1000px;
   margin: 30px auto;
}
.container-sobre p{
   color: white;
   text-align: center;
   font-size: 2.5em;
   margin: 20px;
}
.container-sobre p span.p-red{
   color: red;
}
.container-sobre div.video{
   background-color: black;
   width: 1000px;
   margin: auto;
   height: 500px;
   border-radius: 15px;
   box-shadow: -2px -2px 6px 4px rgba(255, 0, 0, 0.616);
}
.container-sobre a{
   margin: auto;
}
.container-sobre button{
   text-transform: uppercase;
   margin: 40px;
   width: 350px;
   box-shadow: 0px -2px 15px 14px #ff00004f;
   cursor: pointer;
   border: none;
   align-self: center;
   padding: 20px;
   background-color: red;
   font-size: 1.5em;
   color: white;
   border-radius: 10px;
   transition: all 300ms ease;
}
.container-sobre button:hover{
   -webkit-transform: scale(0.9);
}
.container-planos{
   display: flex;
 
   flex-direction: row;
   max-width: 1000px;
   margin: auto;
   justify-content: center;
   align-items: center;
   color: white;
   padding: 20px;
   gap: 30px;
}
.container-planos-title{
   text-align: center;
   margin: 40px;
}
.container-planos .card_pln{
   position: relative;
   width: 350px;
   height: 500px;
   background-color: rgba(0, 0, 0, 0.479);
   padding: 10px;
}
.container-planos .card_pln h2{
   color: red;
   font-size: 2em;
   margin: 20px 0px;
   text-align: center;
   border-radius: 20px;
}
.container-planos .card_pln .content{
   font-size: 1.5em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 150px;
}
.container-planos .card_pln .content .content-valor{
   display: flex;
   gap: 10px;
   align-items: center;
}
.container-planos .card_pln .content .content-valor p.valor{
   font-size: 1.5em;
}
.container-planos .card_pln button{
   border-radius: 10px;
   background-color: aqua;
   border: none;
   padding: 10px;
   width: 300px;
   margin: 20px auto;
}
.container-planos .card_pln button a{
   color: black;
   padding: 10px;
}
.container-planos .card_pln .content p.desc{
   font-size: 20px;
}
.container-grp-free{
   background-color: black;
   color: white;
   padding: 20px;
   text-align: center;
}
.container-grp-free h1{
   font-size: 2em;
   margin: 20px 0px;
}
.container-grp-free a{
   color: white;
}
.container-grp-free p{
   margin: 5px;
}
.container-grp-free p:hover{
   text-decoration: underline;
}
.container-depoimentos{
   background-color: gray;
   height: auto;
   
}
.container-depoimentos h1{
   text-align: center;
   color: white;
   padding: 20px;
   font-weight: bold;
}
.container-depoimentos .depoimentos-flex{
   display: flex;
   justify-content: center;
   padding: 20px;
}
.container-depoimentos .depoimentos-flex article.depoimento{
   width: 300px;
   height: 400px;
   box-shadow: -1px 3px 11px 3px rgba(0, 0, 0, 0.473);
   margin: 10px;
   background-color: white;
   
}  
footer{
   background-color: white;
   color: black;
   text-align: center;
}
footer a{
   color: black;
   text-decoration: underline;
}
@media (max-width:935px){
   .container-planos .card_pln{
      width: 350px;
   }
}
@media (max-width:800px){
   .container-sobre div.video{
      width: 500px;
      height: 300px;
   }
}
@media (max-width:600px){
   .container-sobre div.video{
      width: 300px;
      height: 200px;
   }
}
